In [1]:
print("Welcome to Data Visualization with Python")

Welcome to Data Visualization with Python

In [2]:
#A string variable
first_name = "Vamsi"
print(type(first_name))

<class 'str'>

In [3]:
#An integer variable
age = 20
print(type(age))

<class 'int'>

In [4]:
#A floating point variable
weight = 70.35
print(type(weight))

<class 'float'>

In [5]:
#A floating point variable
married = False
print(type(married))

<class 'bool'>

In [6]:
#list
cars = ["Honda","Toyota","Suzuki"]
print(type(cars))

<class 'list'>

In [7]:
#tuples
days=("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
print(type(days))

<class 'tuple'>

In [8]:
#dictionaries
days2 = {1:"Sunday", 2:"Monday", 3:"Tuesday", 4:"Wednesday", 5:"Thursday", 6:"Friday", 7:"Saturday"}
print(type(days2))

<class 'dict'>

In [9]:
#Arithmetic Operators
X = 20
Y = 10
print(X+Y)
print(X-Y)
print(X*Y)
print(X/Y)
print(X**Y)

30
10
200
2.0
10240000000000

In [10]:
#Logical Operators
X = True
Y = False
print(X and Y)
print(X or Y)
print(not(X and Y))

False
True
True

In [11]:
#Comparison Operators
X = 20
Y = 35
print(X==Y)
print(X!=Y)
print(X>Y)
print(X<Y)
print(X>=Y)
print(X<=Y)

False
True
False
True
False
True

In [12]:
#Assignment Operators
X = 20
Y = 10
R = X+Y
print(R)

30

In [13]:
X = 20
Y = 10
X += Y
print(X)

30

In [14]:
X = 20
Y = 10
X -= Y
print(X)

10

In [15]:
X = 20
Y = 10
X *= Y
print(X)

200

In [16]:
X = 20
Y = 10
X /= Y
print(X)

2.0

In [17]:
X = 20
Y = 10
X %= Y
print(X)

0

In [18]:
X = 20
Y = 10
X **= Y
print(X)

10240000000000

In [19]:
#Membership Operators
days = ("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
print('Sunday' in days)

True

In [20]:
days = ("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
print('Xunday' not in days)

True

In [21]:
#IF statement
if 10>5:
    print("Ten is greater than 10")

Ten is greater than 10

In [23]:
#if-else statement
if 5>10:
    print("5 is greater than 10")
else:
    print("10 is greater than 5")

10 is greater than 5

In [24]:
#if-elif statement
if 5>10:
    print("5 is greater than 10")
elif 8<4:
    print("8 is smaller than 4")
else:
    print("5 is not greater than 10 and 8 is not smaller than 4")

5 is not greater than 10 and 8 is not smaller than 4

In [25]:
#for loop
items = range(5)
for item in items:
    print(item)

0
1
2
3
4

In [26]:
#while loop
c = 0
while c<10:
    print(c)
    c = c+1

0
1
2
3
4
5
6
7
8
9

In [27]:
#functions
def myfunc():
    print("This is a simple function")
#function call
myfunc()

This is a simple function

In [28]:
def myfuncparam(num):
    print("This is a function with parameter value:"+num)
#function call
myfuncparam("Parameter 1")

This is a function with parameter value:Parameter 1

In [29]:
def myreturnfunc():
    return "This function returns a value"
val = myreturnfunc()
print(val)

This function returns a value

In [30]:
class Fruit:
    name = "apple"
    price = 10
    def eat_fruit(self):
        print("Fruit has been eaten")
f = Fruit()
f.eat_fruit()
print(f.name)
print(f.price)

Fruit has been eaten
apple
10

In [35]:
class Fruit:
    name = "apple"
    price = 10
    def __init__(self,fruit_name,fruit_price):
        Fruit.name = fruit_name
        Fruit.price = fruit_price
        
    def eat_fruit(self):
         print("Fruit has been eaten")
f = Fruit("Orange",15)
f.eat_fruit()
print(f.name)
print(f.price)

Fruit has been eaten
Orange
15